.item {
  display: block;
  text-decoration: none;
  color: var(--color);
  background-color: var(--item-bg-color);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 32px 0 var(--box-shadow);
  }
}

.rateWrap {
  padding: 0 10px;
}

.title {
  font-size: 17px;
  font-weight: bold;
  height: 42px;
  margin: 10px 10px 20px;
}

.genre {
  font-size: 10px;
}
.rate {
  font-size: 10px;
}

.voteWrap {
  display: inline-block;
  margin: 10px;
  background-color: var(--vote-wrap-color);
  padding: 5px 3px;
  border-radius: 5px;
}
